<html>
    <head>
        {% if title %}
        <title>{{ title }} - Bookstore</title>
        {% else %}
        <title>Bookstore</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static',filename='/bootstrap-4.4.1-dist/css/bootstrap.min.css') }}">
        <script src="{{ url_for('static',filename='/bootstrap-4.4.1-dist/jquery/jquery-3.4.1.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{{ url_for('static',filename='/bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
    </head>
    <body class="bg-secondary">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
          <a class="navbar-brand" href="{{ url_for('index') }}">HOBIKU</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                {% if current_user.is_anonymous %}
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                {% else %}
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
              </li>
              <li class="nav-item">
                  {% if current_user.is_anonymous %}
                  <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                  {% else %}
                  {% if current_user.usertype == 'Customer' %}
                  <a class="nav-link" href="{{ url_for('my_wishlist') }}">Wishlist</a>
                  {% elif current_user.usertype == 'Admin' or current_user.usertype == 'Staff' %}
                  <a class="nav-link" href="{{ url_for('my_profile') }}">My Profile</a>
                  {% endif %}
                  {% endif %}
              </li>
                {% if current_user.usertype == 'Admin' or current_user.usertype == 'Staff' %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('manage_payment') }}">Manage Payments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('manage_orders') }}">Manage Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('manage_transactions') }}">Manage Transactions</a>
                </li>
                {% endif %}
                {% if current_user.usertype == 'Customer' %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Features
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('my_profile') }}">My Profile</a>
                    <a class="dropdown-item" href="{{ url_for('my_library') }}">My Library</a>
                    <a class="dropdown-item" href="{{ url_for('my_transaction') }}">My Transactions</a>
                    <a class="dropdown-item" href="{{ url_for('my_cart') }}">My Carts</a>
                    <a class="dropdown-item" href="{{ url_for('my_order') }}">My Orders</a>
                </div>
              </li>
                {% endif %}
            </ul>
          </div>
        </nav>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
            {% for message in messages %}
            <span>{{ message }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
