{%  extends "base.html" %}
{% block content %}
<div>
    <h1>{{ product.title }}</h1>
</div>
<div class="container-lg bg-secondary">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-lg-3">{{ form.page(size=32,placeholder="Page") }}<br>
            {% for error in form.page.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <div class="col-lg-4">of {{ pages }}</div>
            <div class="col-lg-5">{{ form.submit() }}</div>
        </div>
    </form>
</div>
<div class="container-lg bg-secondary">
    <img src="{{ url_for('static',filename='/comic/' + product.title|replace(' ','_') + '/' + comic.filename) }}" class="d-block w-100">
</div>
<div class="container-lg bg-secondary">
    <div class="row">
        {% if page != 1 %}
        <div class="col-lg-4"><a href="{{ url_for('read_comic',id=product.id,page=page-1) }}" class="btn btn-primary" role="button">Prev</a></div>
        {% endif %}
        <div class="col-lg-4">{{ page }} of {{ pages }}</div>
        {% if page != pages %}
        <div class="col-lg-4"><a href="{{ url_for('read_comic',id=product.id,page=page+1) }}" class="btn btn-primary" role="button">Next</a></div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-lg-3"><h2><a href="{{ url_for('static',filename='/comic/' + product.title|replace(' ','_') + '.zip') }}" class="btn btn-primary" role="button" download="">Download</a></h2></div>
    <div class="col-lg-3"><h2><a href="{{ url_for('my_library') }}" class="btn btn-primary" role="button">Back</a></h2></div>
</div>

{% endblock %}
