{% extends "base.html" %}
{% block content %}
<div class="container-lg bg-dark">
    <form action="" method="post">
        <div class="row">
             {{ form.hidden_tag() }}
            <div class="col-lg-3">{{ form.filename.label(class="text-light") }}</div>
            <div class="col-lg-6">{{ form.filename(class="btn btn-primary") }}<br>
                {% for error in form.filename.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col-lg-3">{{ form.submit() }}</div>
        </div>
    </form>
    <table class="table-bordered table-dark">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Page Number</th>
            </tr>
        </thead>
        <tbody>
            {% for comic in comics %}
            <tr>
                <td>{{ comic.filename }}</td>
                <td>{{ comic.page_num }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ url_for('delete_comic_pages',id=product.id) }}" class="btn btn-primary" role="button">Delete All</a>
        <a href="{{ url_for('product',id=product.product_id) }}" class="btn btn-primary" role="button">Back</a>
    </div>
</div>
{% endblock %}
