{% extends "base.html" %}
{% block content %}
    <h1>Welcome to HOBIKU Online Book Store</h1>
    {% if current_user.usertype == 'Admin' %}
    <table class="table-bordered table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>User Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.usertype }}</td>
                <td><a href="{{ url_for('delete',id=user.id) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <div class="container-lg bg-dark">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-lg-2">{{ form.title.label(class="text-light") }}</div>
                <div class="col-lg-6">{{ form.title(size=64,placeholder="Search for Title") }}<br>
                {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                </div>
                <div class="col-lg-4">{{ form.submit() }}</div>
            </div>
        </form>
    </div>
    <div class="row row-cols-lg-3 bg-dark">
        {% for product in products %}
        <div class="col-lg-4">
            <div class="card">
                <img src="{{ url_for('static',filename='img/' + product.image) }}" width="256" height="512" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ url_for('product',id=product.id) }}">{{ product.title }}</a></h5>
                    <p class="card-text">ID: {{ product.id }}<br>Type: {{ product.booktype }}<br>
                    Date: {{ product.updated_at }}<br>Price: {{ product.price }}<br>
                    </p>
                    {% if current_user.usertype == 'Admin' or current_user.usertype == 'Staff' %}
                    <p class="card-text"><a href="{{ url_for('delete_product',id=product.id) }}">Remove</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% if current_user.usertype == 'Admin' or current_user.usertype == 'Staff' %}
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ url_for('add_product') }}">Add Product</a></h5>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
