{% extends "base.html" %}
{% block content %}
<div>
    <h1>My Profile</h1>
</div>
<table class="table-borderless table-dark">
    <tr>
        <th>Username</th>
        <td>{{ current_user.username }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ current_user.email }}</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{ current_user.first_name }} {{ current_user.last_name }}</td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>{{ current_user.phone_number }}</td>
    </tr>
    <tr>
        <th>Date</th>
        <td>{{ current_user.updated_at }}</td>
    </tr>
    <tr>
        <td><a href="{{ url_for('update',id=current_user.id) }}" role="button" class="btn btn-primary">Edit</a></td>
        <td><a href="{{ url_for('index') }}" role="button" class="btn btn-primary">Back</a></td>
    </tr>
</table>
{% endblock %}
