{% extends "base.html" %}
{% block content %}
<h1>{{ product.title }}</h1>
<iframe src="{{ url_for('static',filename='/novel/'+ product.title |replace(' ','_') +'.pdf') }}" width="800px" height="600px"></iframe>
<p><a href="{{ url_for('my_library') }}" class="btn btn-primary" role="button">Back</a></p>
{% endblock %}
