{% extends "base.html" %}
{% block content %}
<table class="table-bordered table-dark">
    <tr>
        <th>ID</th>
        <td>{{ product.id }}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{ product.title }}</td>
    </tr>
    <tr>
        <th>Cover Book</th>
        <td><img src="{{ url_for('static',filename='/img/' + product.image) }}" width="128" height="128"></td>
    </tr>
    <tr>
        <th>Type</th>
        <td>{{ product.booktype }}</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>{{ product.price }}</td>
    </tr>
    <tr>
        <th>Date</th>
        <td>{{ product.updated_at }}</td>
    </tr>
    <tr>
        <th>Author</th>
        <td>{{ product.author }}</td>
    </tr>
    <tr>
        <th>Genres</th>
        <td>{{ product.genres }}</td>
    </tr>
    <tr>
        <th>Synopsis</th>
        <td>{{ product.synopsis }}</td>
    </tr>
</table>
{% if current_user.usertype == 'Admin' or current_user.usertype == 'Staff' %}
<div class="row">
    <div class="col-lg-3"><a href="{{ url_for('edit_product',id=product.id) }}" class="btn btn-primary" role="button">Edit Details</a></div>
    {% if product.booktype == 'Comic' %}
    <div class="col-lg-3"><a href="{{ url_for('comic_page_interface',id=product.id) }}" class="btn btn-primary" role="button">Comic Pages</a></div>
    {% endif %}
</div>
{% else %}
<div class="row">
    {% if not library_customer.is_in_my_library(library_product) %}
    {% if not cart_customer.is_in_my_carts(cart_product) %}
    <div class="col-lg-3"><a href="{{ url_for('add_into_cart',id=product.id) }}" role="button" class="btn btn-primary">
        Add into Cart</a></div>
    {% else %}
    <div class="col-lg-3"><a href="{{ url_for('my_cart') }}" role="button" class="btn btn-primary">
        Check on My Cart</a></div>
    {% endif %}
    {% if customer is not none %}
    {% if not customer.is_in_wishlist(product) %}
    <div class="col-lg-3"><a href="{{ url_for('add_into_wishlist',id=product.id) }}" role="button" class="btn btn-primary">Add to My Wish List</a></div>
    {% else %}
    <div class="col-lg-3"><a href="{{ url_for('my_wishlist') }}" role="button" class="btn btn-primary">Check on My Wish List</a></div>
    {% endif %}
    {% endif %}
    {% else %}
    <div class="col-lg-3">
        <a href="{{ url_for('my_library') }}" class="btn btn-primary" role="button">Go To My Library</a></div>
    {% endif %}
</div>
{% endif %}
<div><a href="{{ url_for('index') }}" class="btn btn-primary" role="button">Back</a></div>
{% endblock %}
