{% extends "base.html" %}
{% block content %}
<div>
    <h1>My Wish List</h1>
</div>
<table class="table-bordered table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Book Type</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for product in user.wished_products %}
        <tr>
            <td>{{ product.id }}</td>
            <td><a href="{{ url_for('product',id=product.id) }}">{{ product.title }}</a></td>
            <td>{{ product.booktype }}</td>
            <td>{{ product.price }}</td>
            <td><img src="{{ url_for('static',filename='img/' + product.image) }}" width="128" height="128"></td>
            <td><a href="{{ url_for('remove_from_wishlist',id=product.id) }}">Remove</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p><a href="{{ url_for('index') }}" class="btn btn-primary" role="button">Back</a></p>
{% endblock %}
